.profile-input {
 margin-bottom: 15px;
 align-items: center;
}
.account-card {
 min-height: 720px !important;
}
.user-head-group {
 text-align: center;
 .user-head-group__avt {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
 }
 .user-head-group__username {
  font-size: 24px;
 }
}

.user-info-group {
 font-weight: bold;
 margin-bottom: 10px;
 .user-info-group__value {
  font-weight: normal !important;
 }
 .user-info-group__status {
  color: #28a745;
 }
}

.user-info-btn {
 height: 32px;
 width: 100%;
 font-weight: bold;
 margin-top: 20px;
}

.user-info-divider {
 margin: 45px 0 10px 0 !important;
} 

.acc-plan-tab {
 margin: 0 45px !important;
 text-align: center;
 .acc-plan-tab__card {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #1890FF;
  box-shadow: 0px 2px 2px #ccc;
  .acc-plan-tab__card--des {
   font-size: 11px;
   overflow: hidden;
   text-overflow: ellipsis !important;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
  }
  .acc-plan-tab__card--content {
   margin: 10px 0;
   p {
    font-size: 12px;
    margin: 0;
   }
  }
  .acc-plan-tab__card--price {
   color: #1890FF;
   font-size: 30px;
   margin-bottom: 10px;
  }
 }
 .acc-plan-tab__des {
  // margin-bottom: 20px !important;
  // font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis !important;
  line-height: 16px;     /* fallback */
 } 
}

#trapezoid {
 border-bottom: 22px solid #4cbe3b;
 border-left: 22px solid transparent;
 border-right: 22px solid transparent;
 color: #fff;
 font-size: 11px;
 height: 0;
 width: 105px;
 transform: rotate(45deg);
 z-index: 9999;
 position: absolute;
 // margin-left: 99px;
 right: -2px;
 margin-top: 39px;
}